anthropic==0.51.0
duckduckgo_search==7.5.2
httpx==0.28.1
langchain_text_splitters==0.3.8
networkx==3.4.2
numpy==2.2.5
openai==1.78.0
protobuf==6.30.2
pyvis==0.3.2
Requests==2.32.3
scikit_learn==1.6.1
sentence_transformers==3.4.1
tqdm==4.67.1
trafilatura==2.0.0
zhipuai==2.1.5.20250421
